@page
@using EasyAbp.EzGet.Admin.Web.Pages
@using EasyAbp.EzGet.Admin.Web.Pages.EzGet.Users
@using EasyAbp.EzGet.Localization
@using Microsoft.Extensions.Localization

@model SelectUserModalModel

@inject IStringLocalizer<EzGetResource> L

@{
    Layout = null;
}

<form data-check-form-on-close="false">
    <abp-modal size="Large">
        <abp-modal-header title="@L["SelectUser"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-table striped-rows="true" class="nowrap users-table"></abp-table>
        </abp-modal-body>
    </abp-modal>
</form>