@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EzGet.Localization
@model EasyAbp.EzGet.Web.Pages.EzGet.IndexModel
@inject IStringLocalizer<EzGetResource> L
@{
}
<h1>EzGet</h1>
<p>@L["SamplePageMessage"]</p>
