@page
@using EasyAbp.EzGet.Admin.Web.Pages
@using EasyAbp.EzGet.Admin.Web.Pages.EzGet.Credentials;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel

@inherits EzGetAdminPageBase

@{
    Layout = null;
}
<form method="post" asp-page="/EzGet/Credentials/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["EditCredential"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="CredentialInfo.Id" />
            <abp-input asp-for="CredentialInfo.UserId" />
            <abp-input asp-for="CredentialInfo.Description" />
            <abp-input asp-for="CredentialInfo.GlobPattern" />
            <abp-input asp-for="CredentialInfo.Expires" />
            <abp-input asp-for="CredentialInfo.Read" />
            <abp-input asp-for="CredentialInfo.Write" />
        </abp-modal-body>
    </abp-modal>
</form>
