@page
@using EasyAbp.EzGet.Admin.Web.Pages
@using EasyAbp.EzGet.Admin.Web.Menus
@using EasyAbp.EzGet.Admin.Web.Pages.EzGet.Credentials
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@model IndexModel

@inherits EzGetAdminPageBase

@{
    PageLayout.Content.Title = L["Credentials"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:EzGet"].Value);
    PageLayout.Content.MenuItemName = EzGetAdminMenus.Credentials.CredentialsMenu;
}

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/EzGet/Credentials/index.js"/>
    </abp-script-bundle>
}

<abp-card class="mb-4">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Credentials"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div id="EzGetCredentialsWrapper">
            <abp-row>
                <abp-column>
                    <form method="post" class="credentials-search-form">
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" readonly class="form-control-plaintext" value="@L["UserId"].Value">
                            </div>
                            <div class="input-group mx-sm-3 mb-2">
                                <input class="form-control sreach-user-id" placeholder="@L["UserId"].Value">
                            </div>
                            <abp-button button-type="Primary" class="select-user">@L["SelectUser"]</abp-button>
                        </div>
                    </form>
                </abp-column>
            </abp-row>
        </div>
    </abp-card-body>
</abp-card>

<abp-card>
    <abp-card-body>
        <abp-table striped-rows="true" id="CredentialsTable" class="nowrap"></abp-table>
    </abp-card-body>
</abp-card>